
<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
 <div id="biggie" class="initial_image">
  <img src="http://images4.alphacoders.com/196/196086.jpg">
  <h1 id = "initial" class="initial_image">Biggie's ready to rap.<br> </h1>
  <h2 id = "are_you" class="initial_image">Are you?</h2>
</div>
<form action="/app" method="get">
  <input type="submit" value="Spit" class="spit">
 </form> 
</body>
</html>
