
<h1><pre> ____             ____
|  _ \ __ _ _ __ |  _ \ __ _  ___ ___ _ __
| |_) / _` | '_ \| |_) / _` |/ __/ _ \ '__|
|  _ < (_| | |_) |  _ < (_| | (_|  __/ |
|_| \_\__,_| .__/|_| \_\__,_|\___\___|_|
           |_|                             </pre></h1>


<div id="lyric"><%= @lyric %></div>

<input type="text" id="user_input">

<div id="score"></div>

<div id="snarf" class="character">
  <img src="images/snarf.jpg">
</div>
<div id="cheetara" class="character">
  <img src="images/cheetara_by_omegasupreme-d2mvf1y.jpg" height=250>
</div>
