
<h2><pre> ____             ____
|  _ \ __ _ _ __ |  _ \ __ _  ___ ___ _ __
| |_) / _` | '_ \| |_) / _` |/ __/ _ \ '__|
|  _ < (_| | |_) |  _ < (_| | (_|  __/ |
|_| \_\__,_| .__/|_| \_\__,_|\___\___|_|
           |_|                             </pre></h2>


<div id="container">
  <div id="lyric">
    <p>I can't stand it I know you planned it
    I'm gonna set it straight, this watergate
    I can't stand rocking when I'm in here
    Because your crystal ball ain't so crystal clear
    So while you sit back and wonder why
    I got this fucking thorn in my side
    Oh my, it's a mirage
    I'm tellin' y'all it's sabotage</p>
  </div>


  <input type="text" id="user-input">
</div>

