<html>
<head>
  <meta charset="UTF-8">
  <title>Rap Racer yO!</title>

  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <%= yield %>

  <script src="javascripts/timing_race.js"></script>
  <script src="javascripts/lyrics.js"></script>
  <script src="javascripts/animation.js"></script>
  <script src="javascripts/user_interaction.js"></script>
  <script src="javascripts/rapracer.js"></script>
  <script src="initialize_rapracer.js"></script>
</body>
</html>
