<html>
<head>
  <meta charset="UTF-8">
  <title>Rap Racer yO!</title>

  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <%= yield %>

  <script src="javascripts/lyric_text.js"></script>
  <script src="javascripts/rapracer.js"></script>
</body>
</html>
