#lyric {
  font-size: 123.1%;
}

.highlighted {
  background-color: #b4d455;
}

.title {
  color: red;
}

.character {
    position: relative;
    background-color:white;
    border: solid black 1px;
    margin:15px;
    padding:15px;

    -webkit-transition: left 700ms ease;
    -moz-transition: left 700ms ease;
    -ms-transition: left 700ms ease;
    -o-transition: left 700ms ease;
    transition: left 700ms ease;   
}

.error {
    border: 3px solid red;
}

#biggie {
    text-align: center;



}

#initial {
    color: #000080;
    left:-20px;
    font-size: 500%;
    position:fixed;
     left:200;
     top:200;
     width:250px;
     font-family: 'Gotham Medium', sans-serif;
    
}

#are_you {
    color: #000080;
    left:-20px;
    font-size: 500%;
    position:fixed;
     left:200;
     top:600;
     width:250px;
     font-family: 'Gotham Medium', sans-serif;

}

.spit {
    background: #222 url(/images/alert-overlay.png) repeat-x;
    display: inline-block;
    background-color: #808080;
    color: white;
    text-decoration: none;
    font-weight: bold;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    text-shadow: 0 -1px 1px #222;
    border-bottom: 1px solid #222;
    position:fixed;
     left:600;
     top:700;
     width:200px;
    cursor: pointer;
    font-size: 3em
}


